@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<AgriApp.Models.Entities.Product>


<div class="AMAP-Products-body">
    <form method="get" action="/Farmers/List" class="filter-Form">
        <input type="radio" name="str" value="Name" class="ffLbl" />Name
        <input type="radio" name="str" value="Date" class="ffLbl" />Date
        <input type="radio" name="str" value="Category" class="ffLbl" />Category
        <button type="submit" class="ffBtn">Filter</button>
    </form>
    <table class="product-table">
        <thead>
            <tr>
                <th colspan="3" class="product-table-head">My Products</th>
            </tr>
            <tr class="column-heads">
                <th>Product Name</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Date.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>