@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<div class="AMAP-Products-body">

    <table class="product-table">
      
        <thead>
            <tr>
                <th colspan="3" class="product-table-head">All Farmers</th>
            </tr>
            <tr class="column-heads">
                <th>Email</th>
                <th>UserName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>
                        <a asp-action="ViewProducts" asp-route-id="@user.Id" class="PO-btn-A">Products</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

