@page
@model AgriApp.Pages.AboutModel
@{
}
<style>
    body {
        background-color: #050428;
    }
</style>
<div class="about-body">

    <div class="about-sec2">
        <h1>About Us</h1>
        <div class="as2-text">
        <p>
            This is the official website for Agri-Energy. 
            This web application was created to provide members of the agriculture field and 
            ecofriendly energy technology providers with a central hub where they can exchange 
            ideas and best practices, communicate with ecofriendly energy technology providers, 
            access learning resources, farmers and ecofriendly energy technology professionals 
            to cooperate, and provide information on financial support for ecofriendly 
            initiatives.
        </p>
        </div>
    </div>

    <div class="about-sec1">
        <img src="~/images/agrilogo.png" />
        <div class="as1-text">
            <h1>Agri-Energy</h1>
            <p>Ecofriendly Agriculture</p>
        </div>
    </div>

</div>