@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
        background-color: #050428;
    }
</style>

<div class="home-body">
    <div class="home-sec1">
        <img src="~/images/agrilogo.png" />
        <div class="hs1-text">
            <h1>Agri-Energy</h1>
            <p>Ecofriendly Agriculture</p>
        </div>
    </div>
    
</div>
