@page
@model AgriApp.Pages.LogoutModel
@{
}

<div class="logout-container">


    <form method="post">

        <div class="logout-div">
            <p>Are you sure you want to logout?</p>
            <p>
                <button class="" asp-page-handler="Logout"> Yes</button>
                <button class="" asp-page-handler="DontLogout">No</button>
            </p>

        </div>


    </form>

</div>